{% extends 'base.html.twig' %}

{% block title %}Ajouter une pizza{% endblock %}

{% block body %}
    <h1>Ajouter une pizza</h1>

    {{ include('pizza/_form.html.twig') }}

    <a href="{{ path('app_pizza_index') }}">retour à la liste des pizzas</a>
{% endblock %}
